@using FlipShop.Core.Contract.Cart
@model CartDetails

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container my-5">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-md-9">
                <div class="ibox">
                    <div class="ibox-title">
                        <span class="pull-right">(<strong>@Model.CartItems.Count()</strong>) items</span>
                        <h5>Items in your cart</h5>
                    </div>
                    @if (Model.CartItems.Any())
                    {
                        foreach (var item in Model.CartItems)
                        {
                            <partial name="_CartItem" model="item" />
                        }
                    }
                    <div class="ibox-content">
                        <a asp-action="" asp-controller="Checkout" asp-area="" class="btn btn-dark pull-right"><i class="fa fa fa-shopping-cart"></i> Checkout</a>
                        <button class="btn btn-white"><i class="fa fa-arrow-left"></i> Continue shopping</button>

                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5 class="fw-bolder">Cart Summary</h5>
                    </div>
                    <div class="ibox-content">
                        <span>
                            Total (OMR)
                        </span>
                        <h2 class="fw-bold">
                            @Model.TotalAmount
                        </h2>

                        <hr>
                        <span class="text-muted small">
                            *For United States, France and Germany applicable sales tax will be applied
                        </span>
                    </div>
                </div>

                <div class="ibox">
                    <div class="ibox-content">

                        <p class="fw-bolder text-black">
                            Billing Details
                        </p>
                        <hr>


                        <div style="width:100%;font-size:13px; color:black;">
                            <table width="100%">
                                <tr>
                                    <th colspan="10">SubTotal</th>
                                    <td>@Model.SubTotal</td>

                                </tr>
                                <tr>
                                    <th colspan="10">Shipping Fee</th>
                                    <td>@Model.ShippingFee</td>

                                <tr>
                                    <th colspan="10">Tax</th>
                                    <td>@Model.Tax</td>

                                </tr>


                                <tr>
                                    <th colspan="10">Total</th>
                                    <td>@Model.TotalAmount</td>

                                </tr>
                            </table>

                        </div>
                        <hr>
                    </div>
                </div>

                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Support</h5>
                    </div>
                    <div class="ibox-content text-center">
                        <h3><i class="fa fa-phone"></i> +968 100 783 001</h3>
                        <span class="small">
                            Please contact with us if you have any questions. We are avalible 24h.
                        </span>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>


@section StyleSheets{
    <style>
        body {
            margin-top: 20px;
            background: #eee;
        }

        h3 {
            font-size: 16px;
        }

        .text-navy {
            color: #1ab394;
        }

        .cart-product-imitation {
            text-align: center;
            padding-top: 30px;
            height: 80px;
            width: 80px;
            background-color: #f8f8f9;
        }

        .product-imitation.xl {
            padding: 120px 0;
        }

        .product-desc {
            padding: 20px;
            position: relative;
        }

        .ecommerce .tag-list {
            padding: 0;
        }

        .ecommerce .fa-star {
            color: #d1dade;
        }

            .ecommerce .fa-star.active {
                color: #f8ac59;
            }

        .ecommerce .note-editor {
            border: 1px solid #e7eaec;
        }

        table.shoping-cart-table {
            margin-bottom: 0;
        }

            table.shoping-cart-table tr td {
                border: none;
                text-align: right;
            }

                table.shoping-cart-table tr td.desc,
                table.shoping-cart-table tr td:first-child {
                    text-align: left;
                }

                table.shoping-cart-table tr td:last-child {
                    width: 80px;
                }

        .ibox {
            clear: both;
            margin-bottom: 25px;
            margin-top: 0;
            padding: 0;
        }

            .ibox.collapsed .ibox-content {
                display: none;
            }

            .ibox:after,
            .ibox:before {
                display: table;
            }

        .ibox-title {
            -moz-border-bottom-colors: none;
            -moz-border-left-colors: none;
            -moz-border-right-colors: none;
            -moz-border-top-colors: none;
            background-color: #ffffff;
            border-color: #e7eaec;
            border-image: none;
            border-style: solid solid none;
            border-width: 3px 0 0;
            color: inherit;
            margin-bottom: 0;
            padding: 14px 15px 7px;
            min-height: 48px;
        }

        .ibox-content {
            background-color: #ffffff;
            color: inherit;
            padding: 15px 20px 20px 20px;
            border-color: #e7eaec;
            border-image: none;
            border-style: solid solid none;
            border-width: 1px 0;
        }

        .ibox-footer {
            color: inherit;
            border-top: 1px solid #e7eaec;
            font-size: 90%;
            background: #ffffff;
            padding: 10px 15px;
        }
    </style>
}


